::-webkit-scrollbar {
    background: transparent;
    width: 0px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #3f78c4;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #3f78c4;
  }

@font-face {
    font-family: RooneySans;
    src: url(../fonts/RooneySans.ttf);
}

body {
    background: #161b22;
    color: #d4d4d4;
    font-family: RooneySans;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}
#titlebar {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    background: #3f78c4;;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-user-select: none;
    -webkit-app-region: drag;
    user-select: none;
}

#titlebar #icons {
    float: right;
    height: 100%;
    font-size: 0;
    -webkit-app-region: none;
}

#titlebar #icons button {
    bottom: 0;
    height: 100%;
    width: 45px;
    background: transparent;
    transition: ease-in-out 0.1s;
    color: #fff;
}

#titlebar #icons button:hover:not(#close):not(:disabled) {
    background: rgba(0, 0, 0, 0.2);
}

#titlebar #icons button:hover:is(#close):not(:disabled) {
    background: rgba(255, 0, 0, 0.7);
}

#titlebar #icons button:disabled {
    cursor: not-allowed;
}

/* Page Content */

#content {
    position: fixed;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.container {
    padding: 8px;
}

/* End General Styling */

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.center {
    display: flex;
    justify-content: center;
}

/* End General Styling */

/* Scroll Box Styling */

.scroll-box {
    margin-top: 100px;
    overflow-y: auto;
    height: 252.5px;
    width: 30em;
    background: #0d1117;
    border: 1px solid #22282e;
    -webkit-user-select: none;
    user-select: none;
}

.scroll-box-content {
    overflow-y: auto;
    margin-left: 20px;
    margin-right: 28px;
}

.scroll-box-content * {
    margin-top: 5px;
    margin-bottom: 5px;
}

.scroll-box-header {
    background: #3f78c4;
    border-bottom: 1px solid #2a3038;
    color: #dcdcdc;
    padding: 5px;
    display: flex;
    top: 0;
    position: sticky;
}

.scroll-box-header * {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.scroll-box-header #hostname {
    flex: 1;
}

.scroll-box-header #status {
    flex: 0;
}

.scroll-box-header .scroll-box-header-title {
    flex: 1;
}

.slot {
    display: flex;
}

.slot #hostname {
    flex: 1;
}

.slot #status {
    flex: 0;
}

#toast {
    position: absolute;
    top: 10px;
    left: 10px;
}

#scan {
    width: 100px;
    padding: 8px;
    background: #21262d;
    border: 1px solid #2a3038;
    color: #3f78c4;
    font-weight: 500;
    margin-left: 10px;
}

#scan:hover:not(:disabled) {
    background: #2b313b;
    border: 1px solid #343b45;
    color: #4b93f2;
}

#scan:active:not(:disabled) {
    background: #3f78c4;
    border: 1px solid #3b7dd4;
    color: #dcdcdc;
}

#scan:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.notification-bar {
    position: fixed;
    right: 5px;
    top: 55px;
    border-right: 4px solid #238636;
    height: 35px;
}
.notification-bar .notification-content {
    color: #dcdcdc;
    background: rgba(0, 0, 0, 0.2);
    padding: 7px;
    margin-right: 5px;
    margin-left: 5px;
}
.notification-bar .notification-close {
    color: #dcdcdc;
    position: absolute;
    padding: 8px;
    right: 5px;
    -webkit-user-select: none;
    user-select: none;
}
.notification-bar .notification-close:hover {
    color: #ed6a5e;
    cursor: pointer;
}

#title {
    position: fixed;
    padding: 6px;
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}